.ml-auto {
  margin-left: auto;
}

.d-block {
  display: block;
}

.mt-20 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.header {
  font-size: 20px;
  text-transform: uppercase;
}

.fw-bold {
  font-weight: bold;
}